---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator.tsx";
---

<Layout title="Calculadora">

	<div class="w-full flex justify-center items-center overflow-auto" id="container-calc">

		<div class="max-w-4/12 max-h-3/4 p-2 rounded-xl shadow-xl shadow-neutral-400 bg-violet-blue relative overflow-clip">
			<Calculator client:load />
		</div>

	</div>



</Layout>

<style is:global>
	#container-calc {
		height: calc(100vh - 4rem);
	}
	#div_func-menu {
		height: 8%;
	}
	#div_func-res {
		height: 20%;
	}
	#div_func-res > input {
		box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
	}
	#div_func-op {
		height: 65%;
	}
	.btn-number {
		transition: all 0.3s;
		width: 100%;
		box-shadow:
			inset 0 0 5px rgba(0, 0, 0, 0.3),
			0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
	}
	.btn-number:hover {
		box-shadow:
			inset 0 0 5px rgba(0, 0, 0, 0),
			0 0 10px rgba(0, 0, 0, 0);
		background: rgb(255, 100, 100);
	}
</style>
