---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator.tsx";
---

<Layout title="Calculadora">

	<main class="w-full h-screen flex justify-center items-center">

		<section class="w-60 relative">
			<Calculator client:load />
		</section>

	</main>

</Layout>
