---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator.tsx";
---

<Layout title="Calculadora">

	<div class="w-full h-screen flex justify-center items-center overflow-auto">

		<div class="max-w-4/12 max-h-3/4 p-2 rounded-xl shadow-xl shadow-neutral-400 bg-violet-blue relative overflow-clip">
			<Calculator client:load />
		</div>

	</div>



</Layout>
