---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		user-select: none;
	}
	input {
		box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
	}
	button {
		@apply flex justify-center items-center rounded-xl relative z-50;
		transform: translate(5px, -5px);
		&::before {
			content: "";
			@apply w-full h-full absolute inset-0 -z-50 rounded-xl;
		}
		&:active{
			transform: translate(0,0);
			&::before{
				box-shadow: none;
			}
		}
	}

	.btn-number {
		@apply text-lg aspect-square font-semibold text-white bg-red-strong;
		&::before {
			box-shadow:
				-1px 1px white,
				-2px 2px hsl(352, 82%, 47%),
				-3px 3px hsl(352, 82%, 42%),
				-4px 4px hsl(352, 82%, 37%),
				-5px 5px hsl(352, 82%, 32%),
				-5px 5px 2px 1px rgba(0, 0, 0, 0.4);
		}
	}
	.btn-operation {
		@apply h-full aspect-auto font-bold text-xl text-violet-blue bg-yellow-light;
		&::before {
			box-shadow:
				-1px 1px hsl(239, 27%, 28%),
				-2px 2px hsl(65, 44%, 77%),
				-3px 3px hsl(65, 44%, 72%),
				-4px 4px hsl(65, 44%, 67%),
				-5px 5px hsl(65, 44%, 62%),
				-5px 5px 2px 1px rgba(0, 0, 0, 0.4);
		}
	}

	section {
		transform: skew(10deg);
		background-color: transparent;
	}

	header {
		transform: translate(5px, 0) skew(-10deg);
		box-shadow:
			-2px 3px hsl(239, 27%, 34%),
			-5px 6px hsl(239, 27%, 28%),
			-7px 9px hsl(239, 27%, 27%),
			-10px 12px hsl(239, 27%, 26%),
			-12px 15px hsl(239, 27%, 25%),
			-15px 18px hsl(239, 27%, 24%),
			-17px 21px hsl(239, 27%, 23%),
			-20px 24px hsl(239, 27%, 22%),
			-22px 27px hsl(239, 27%, 21%),
			-25px 31px hsl(239, 27%, 20%),
			-27px 30px 20px 1px rgba(0, 0, 0, 0.4);
	}

	aside {
		transform: translate(-4px, 0) skew(0);
		box-shadow:
			-3px 3px hsl(239, 27%, 34%),
			-6px 6px hsl(239, 27%, 28%),
			-9px 9px hsl(239, 27%, 27%),
			-12px 12px hsl(239, 27%, 26%),
			-15px 15px hsl(239, 27%, 25%),
			-18px 18px hsl(239, 27%, 24%),
			-21px 21px hsl(239, 27%, 23%),
			-24px 24px hsl(239, 27%, 22%),
			-27px 27px hsl(239, 27%, 21%),
			-30px 30px hsl(239, 27%, 20%),
			-30px 30px 20px 1px rgba(0, 0, 0, 0.4);
	}

	.col-2 {
		grid-column: span 2 / span 2;
	}
</style>
